<!--Box with border and rounded (with tailwind) listing available services.-->
<div
  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  th:fragment="serviceInstances"
>
  <h2 class="text-2xl font-bold text-center mb-4">Services</h2>
  <ul th:object="${services}">
    <li th:each="service: ${services}" class="text-lg mb-2">
      <a
        th:href="@{/service/{id}(id=${service.id})}"
        th:text="${service.serviceName}"
      ></a>
    </li>
  </ul>
</div>

<!--Service detail. Show service instances with last update timestamp, health and number of connections.-->
<div
  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  th:hx-get="@{/service/{id}(id=${serviceInfo.id})}"
  hx-trigger="every 10s"
  th:fragment="serviceDetail"
>
  <h2
    class="text-2xl font-bold text-center mb-4"
    th:text="${serviceInfo.serviceName}"
  ></h2>
  <ul th:object="${instances}" class="gap-2">
    <li
      th:each="serviceInstance: ${instances}"
      class="text-lg mb-2 grid grid-cols-2 border-b border-black"
    >
      <span class="font-semibold">Instance ID:</span>
      <span th:text="${serviceInstance.instanceId}"></span>

      <span class="font-semibold">Timestamp:</span>
      <span th:text="${serviceInstance.timestamp}"></span>

      <span class="font-semibold">Health:</span>
      <span
        th:text="${serviceInstance.isHealthy? 'Healthy': 'Not healthy'}"
      ></span>

      <span class="font-semibold">Connections:</span>
      <time
        th:text="${#temporals.format(serviceInstance.timestamp, 'yyyy-MM-dd HH:mm:ss')}"
      ></time>
    </li>
  </ul>
</div>
