<!--Box with border and rounded (with tailwind) listing available services.-->
<div
  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  th:fragment="servies"
>
  <h2 class="text-2xl font-bold text-center mb-4">Services</h2>
  <ul th:object="${services}">
    <li th:each="service: ${services}" class="text-lg mb-2">
      <a
        th:href="@{/service/{id}(id=${service.id})}"
        th:text="${service.serviceName}"
      ></a>
    </li>
  </ul>
</div>

<!--Service detail. Show service instances with last update timestamp, health and number of connections.-->
<div
  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  th:fragment="serviceDetail"
>
  <h2
    class="text-2xl font-bold text-center mb-4"
    th:text="${serviceInfo.serviceName}"
  ></h2>
  <ul th:object="${instances}">
    <li
      th:each="serviceInstance: ${instances}"
      class="text-lg mb-2 grid grid-cols-2"
    >
      <span th:text="${serviceInstance.instanceId}"></span>
      <span th:text="${serviceInstance.lastUpdateTimestamp}"></span>
      <span th:text="${serviceInstance.health}"></span>
      <span th:text="${serviceInstance.connections}"></span>
    </li>
  </ul>
</div>
