<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" hx-boost="true">
  <header th:replace="~{index.html :: header}"></header>

  <style th:replace="~{index.html :: styles}"></style>

  <body>
    <nav class="bg-blue-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-2xl">Services</a>
      </div>
    </nav>

    <div class="grid gap-2 grid-cols-1 md:grid-cols-2">
      <div th:replace="~{partials/services.html :: serviceDetail}"></div>
      <div th:replace="~{partials/services.html :: testResourceFetcher}"></div>
    </div>
  </body>
</html>
